main .createLinkBox{
    position: relative;
}
main .createLinkBox .row .howItWork{
    font-size: 16px;
    color: #00abee;
    font-weight: bold;
}
main .createLinkBox .row .howItWork i{
    font-weight: normal;
    color:gray;
}
main .createLinkBox .row .howItWork a{
    text-decoration: underline !important;
    cursor: pointer;
}
main .createLinkBox .row .howItWork a:hover{
    text-decoration: none !important;
}
main .createLinkBox .functionContainer{
    position: relative;
}
main .createLinkBox .functionContainer .functionBox{
    position: relative;
    width: 48%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);
    border-radius: 10px;
    height: 560px;
    padding:15px;
    transition: 0.5s ease;
    margin-left:2%;
}

main .createLinkBox .functionContainer .functionBox:hover{
    box-shadow: 0px 0px 50px 0px rgba(0, 23, 32, 0.1);
	margin-top: -2px;
}
@media (max-width:768px){
    main .createLinkBox .functionContainer .functionBox{
        width: 100%;
        margin-bottom: 20px;
    }
}
main .createLinkBox .functionContainer .functionBox .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main .createLinkBox .functionContainer .functionBox .title .iconfontIndex{
    font-size: 1.5rem !important;
}
main .createLinkBox .functionContainer .functionBox .title span{
    font-size: 1.5rem;
    font-weight: bold;
    word-wrap: break-word;
}
main .createLinkBox .functionContainer .functionBox:first-child .title .iconfontIndex,
main .createLinkBox .functionContainer .functionBox:first-child .title span .highlight{
    color: #00abee;
}

main .createLinkBox .functionContainer .functionBox:last-child .title .iconfontIndex,
main .createLinkBox .functionContainer .functionBox:last-child .title span .highlight{
    color: #5eb54e;
}

main .createLinkBox .functionContainer .functionBox .desc{
    font-size: 14px;
    line-height: 18px;
    color: #77888f;
    margin-bottom: 20px;
}

main .createLinkBox .functionContainer .functionBox .function{
    width: 100%;
    height: 450px;
    position: relative;
    font-size: 16px;
    background: #f4f7fb;
    border: 2px solid #f4f7fb;
    border-radius: 15px;
    padding: 15px;
    font-family: unset;
    transition: 1s ease;
}
main .createLinkBox .functionContainer .functionBox .function:focus{
    border: #00abee solid 2px;
}
main .createLinkBox .functionContainer .functionBox textarea.function{
    outline: none;
    resize: none;
}

main .createLinkBox .settingsBtn{
    display: flex;
    justify-content: center;
}

main .createLinkBox .settingsForm{
    width: 100%;
    margin: 0 auto;
    transition: .5s ease;
    height: auto;
}
main .createLinkBox .settingsForm.hidden{
    height: 0;
    overflow: hidden;
}
main .createLinkBox .settingsForm #optionsForm{
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 15px;
    margin-left: 2%;
    transition: 2s ease;
}
main .createLinkBox .settingsForm #optionsForm .form-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}
main .createLinkBox .settingsForm #optionsForm .form-row .singleIOSSwitch{
    width: 45%;
}
main .createLinkBox .settingsForm #optionsForm .form-row .setPwd,
main .createLinkBox .settingsForm #optionsForm .form-row .hidden{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: start;
}
main .createLinkBox .settingsForm #optionsForm .form-row .hidden{
    opacity: 0;
}
main .createLinkBox .settingsForm #optionsForm .form-row .setPwd .multiIOSSwitch{
    width: 30%;
}
main .createLinkBox .settingsForm #optionsForm .form-row .setPwd .txtForSwitch{
    width: 40%;
}
main .createLinkBox .settingsForm #optionsForm .form-row.inputPwd{
    display: none;
    width: 100%;
}
main .createLinkBox .settingsForm #optionsForm .form-row.inputPwd .form-control{
    display: inline-block !important;
    width: 25%;
    margin-right:20%;
}
main .createLinkBox .settingsForm #optionsForm .form-row .selectBox{
    display: inline-block !important;
    width: 30%;
    margin-right:15%;    
}


main .createLinkBox .submitBtn .btn{
    margin: 15px 0 0 0;
    background-image: linear-gradient( 83deg, rgb(67,191,102) 0%, rgb(116,220,123) 100%);
    box-shadow: 0px 10px 40px 0px rgba(0, 23, 32, 0.2);
    width: 260px;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    color: #fff;
    border-radius: 20px;
    text-align: center;

}
main .createLinkBox .submitBtn .btn:hover{
    box-shadow: 0px 10px 60px 0px rgba(0, 23, 32, 0.3);
}
