main .showLinkBox{
    display: none;
}
main .showLinkBox .generateContainer{
    display: block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    background: #fff;
    padding: 35px 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgba(0, 23, 32, 0.1);
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 64% !important;
}
main .showLinkBox .generateContainer h5{
    padding-top: 10px;
    padding-bottom: 10px;
}

main .showLinkBox .generateContainer p{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
main .showLinkBox .generateContainer .title{
    height: 3rem;
    width: 100%;
    border-bottom: 1px solid #eee;
}
main .showLinkBox .generateContainer .title h3{
    font-weight: bold;
}
main .showLinkBox .generateContainer .LinkURL{
    width: 100%;
    font-weight: bold;
    margin-bottom: 1rem;
}
main .showLinkBox .generateContainer .LinkURL .LinkBox{
    color: #fff ;
    background-color: darkgray;
    border: none;
}
main .showLinkBox .generateContainer .LinkURL .LinkBox:hover{
    background-color:rgb(189, 188, 188);
}
main .showLinkBox .generateContainer .LinkURL .URLBox:disabled{
    background-color: #fff;
    border-left: none;
    padding: 0 20px;
}
main .showLinkBox .generateContainer .linkFooter{
    position: relative;
    display: flex;
    align-items: center;
}
main .showLinkBox .generateContainer .linkFooter .tips{
    display: inline-block;
    position: relative;
    padding: .25rem .75rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 40%;
    background-color: #deedd3;
    border-color: #deedd3;
    font-style: italic;
}
main .showLinkBox .generateContainer .linkFooter .btnGroup{
    position: absolute;;
    right:0;
}
main .showLinkBox .generateContainer .linkFooter .btnGroup .btn{
    height: 100%;
}
main .showLinkBox .returnBar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3 rem;
    margin-bottom: 6rem;
}
main .showLinkBox .returnBar .returnBtn{
    width: 150px;
    display: block;
    height: 42px;
    line-height: 43px;
    font-size: 14px;
    color: #fff;
    background: #00abee;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    min-width: 80px;
    outline: none;
    resize: none;
    border: none;
    overflow: hidden;
    border-radius: 100px;
}
main .showLinkBox .returnBar .returnBtn:hover{
    background-color: #39c2f9;
}